.content {
    display: grid;
    padding: $padding;
    grid-template-areas: "description description . ."
        "description description . ."
        "description description . reviews";

    &__description {
        grid-area: description;
    }

    &__reviews {
        grid-area: reviews;
    }
}