.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $padding;
    color: #fff;
    background-color: $base-color;

    &__nav {
        display: flex;
    }

    &__list {
        display: flex;
        flex-direction: column;
        list-style: none;
    }

    &__link {
        margin-left: 15px;
        color: #fff;
        text-decoration: none;
    }

    &__link:hover {
        color: #ff0000;
    }
}